@model WaterIntakeManagement.Models.WaterIntake

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Workout</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DailyGoalInMilliliters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DailyGoalInMilliliters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AmountInMilliliters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AmountInMilliliters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.WaterIntakeEntryId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
