@model IEnumerable<WaterIntakeManagement.Models.WaterIntake>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AmountInMilliliters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DailyGoalInMilliliters)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfDay)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AmountInMilliliters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DailyGoalInMilliliters)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TimeOfDay)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.WaterIntakeEntryId }) |
            @Html.ActionLink("Details", "Details", new { id = item.WaterIntakeEntryId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.WaterIntakeEntryId })
        </td>
    </tr>
}

</table>
